.scroll-container-wrapper {
  position: relative;
  height: 300px;
  min-width: 100%;

  .scroll-container {
   overflow-x: auto;
    white-space: nowrap;

    scrollbar-width: none; 
  -ms-overflow-style: none; 
  
  &::-webkit-scrollbar {
    display: none; 
  }
  }

  .scroll-card {
    display: inline-block;
    height: 272px;
    width: 250px;
    margin-right: 1rem;
    @include button-shadow-hover(); 
  }

  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    color: $tertiary-color;
    font-size: 2rem;
    text-align: center;
    line-height: 80px;
    border: 2px solid $tertiary-color;
    cursor: pointer;
    z-index: 10;

    &:hover{
          transform: translateY(-50%) scale(1.2);
    }

    &.left {
      left: 50px;
    }

    &.right {
      right: 50px;
    }
  }
}
